In [2]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('C:/Code/Projects/Movie Recommender System/Datasets/main_data.csv')

In [9]:
data

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
6005,Joseph Kosinski,Tom Cruise,Miles Teller,Jennifer Connelly,Action Drama,top gun: maverick,Tom Cruise Miles Teller Jennifer Connelly Jose...
6006,Joel Crawford,Nicolas Cage,Emma Stone,Ryan Reynolds,Animation Adventure Family,the croods 2,Nicolas Cage Emma Stone Ryan Reynolds Joel Cra...
6007,Liesl Tommy,Jennifer Hudson,Forest Whitaker,Marlon Wayans,Music Drama,respect,Jennifer Hudson Forest Whitaker Marlon Wayans ...
6008,Ridley Scott,Matt Damon,Adam Driver,Jodie Comer,Drama,the last duel,Matt Damon Adam Driver Jodie Comer Ridley Scot...
6009,Paul Greengrass,Tom Hanks,Helena Zengel,Neil Sandilands,Drama Western,news of the world,Tom Hanks Helena Zengel Neil Sandilands Paul G...

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [12]:
cv = CountVectorizer()
count_matrix = cv.fit_transform(data['comb'])

In [13]:
similarity = cosine_similarity(count_matrix)

In [14]:
similarity

array([[1.        , 0.24174689, 0.16116459, ..., 0.        , 0.        ,
        0.        ],
       [0.24174689, 1.        , 0.18181818, ..., 0.        , 0.        ,
        0.        ],
       [0.16116459, 0.18181818, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.10540926,
        0.1       ],
       [0.        , 0.        , 0.        , ..., 0.10540926, 1.        ,
        0.10540926],
       [0.        , 0.        , 0.        , ..., 0.1       , 0.10540926,
        1.        ]])

In [23]:
def get_title_from_index(index):
    return data[data.index==index]['movie_title'].values[0]
def get_index_from_title(title):
    return data[data.movie_title==title].index[0]

In [30]:
movie_user_likes = "the dark knight rises"

In [31]:
movie_index = get_index_from_title(movie_user_likes)
similar_movies = list(enumerate(similarity[movie_index]))
sorted_similar_movies = sorted(similar_movies, key = lambda x:x[1], reverse = True)[1:]
i=0
print("Top 5 similar movies to "+movie_user_likes+" are:\n")
for element in sorted_similar_movies:
    print(get_title_from_index(element[0]))
    i=i+1
    if i>10:
        break

Top 5 similar movies to the dark knight rises are:

inception
the dark knight
batman begins
sin city: a dame to kill for
premium rush
the prestige
rocknrolla
don jon
g.i. joe: the rise of cobra
miracle at st. anna
dunkirk

In [33]:
np.save("Sim", similarity)